<%= render "shared/navbar" %>

<%= render "shared/user_profile", user: @user %>

<div class="details">

  <div class="border_solid home_container bio">
    <h1>Bio</h1>
    <p>
      <%= @user.bio %>
    </p>
  </div>
  <% @user.three_recent_posts.each do |post| %>
    <div class="border_solid home_container">
      <div class="post_intro">
        <a href="/users/<%= post.author_id%>/posts/<%= post.id %>">
          <h1><%= post.title %></h1>
        </a>
        <% if can? :destroy, post %>
          <%= form_for [@user, post], url: user_post_path(@user, post), method: :delete, data: { confirm: "Are you sure you want to delete this post?" } do |f| %>
            <%= f.submit "Delete Post" %>
          <% end %>
        <% end %>
      </div>
      <p class="post_text">
        <%= post.text %>
      </p>
      <div class="likes_box"><p>Comments:
          <%= post.comments_counter %>, Likes:
          <%= post.likes_counter %></p>
      </div>

    </div>
  <% end %>

  <a href="/users/<%= @user.id%>/posts" class="user_all_posts">See all Posts</a>
</div>
