<%= form_with model: [post], url: user_posts_path(@user) do |form| %>
  <div class="field">
    <%= form.label :title %><br>
    <%= form.text_field :title, autofocus: true, required: true %>
    <% post.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :text %><br>
    <%= form.text_area :text, required: true , rows: 10, cols: 30 %><br>
    <% post.errors.full_messages_for(:text).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
