<%= render 'shared/user_profile', user: @user %>
<%= button_to("Log Out", destroy_user_session_path, method: :delete) %>

<% @posts.each do |post|%>
<div class="border_solid comments_box">
    <a href="/users/<%= post.author_id%>/posts/<%= post.id %>"><%= post.title%></a>
        <p>
           <%= post.text%>
        </p>
        <p class="likes_box">
            Comments: <%= post.comments_counter %> Likes: <%= post.likes_counter%>
        </p>
</div>
<div class="border_solid">
<% post.find_5_comments.includes([:author]).each  do |comment|%>
    <p><%= comment.author.name %> - <%= comment.text %></p>
    <%end%>
</div>
<br />
<%end%>
<div class="btn_pag">
<button class="user_all_posts">Pagination</button>
</div>