<div class="show_posts">
<div class="border_solid">
<div class="info_post">
<p><%= @post.title%> by <%= @post.author.name%></P>
<p>Comments: <%= @post.comments_counter%> Likes: <%= @post.likes_counter %></p>
</div>

<p>
<%= @post.text%>
</p>
</div>
<br />
<%= render 'likes/form'%>
<br />
<h2>Add a comment:</h2>
<%= render 'comments/form' %>
<br />

<div class="border_solid">
    <%= render @post.comments %>
</div>

</div>